<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">
    <title>MTG Management App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    <script src="https://kit.fontawesome.com/e8b358f9a3.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">Logo</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
              <a href="#" class="desktop-item">Collector</a>
              <input type="checkbox" id="showDrop">
              <label for="showDrop" class="mobile-item">Collector</label>
              <ul class="drop-menu">
                <li><a href="{{ url_for('collector') }}">Site1</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="desktop-item">Mega Menu</a>
              <input type="checkbox" id="showMega">
              <label for="showMega" class="mobile-item">Mega Menu</label>
              <div class="mega-box">
                <div class="content">
                  <div class="row">
                    <img src="static/img_fantasy_theme.jpg" alt="">
                  </div>
                  <div class="row">
                    <header>Deck Creator</header>
                    <ul class="mega-links">
                      <li><a href="#">White</a></li>
                      <li><a href="#">Blue</a></li>
                      <li><a href="#">Black</a></li>
                      <li><a href="#">Green</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="#">Feedback</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>
      <div class="container">
        <div class="container-form">
            <div class="text">
                = Add card =
            </div>
            <form action="/collector" method="POST">
                <div class="form-row">
                    <div class="input-data">
                        <input type="text" id="set_name" name="selected_card_set" placeholder="Set Name" autofocus>
                    </div>
                    <div class="submit-btn">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="cards">
            <div class="card_stats">
                <h3>Card Statistics</h3>
                <p>Total Cards: {{ total_cards }}</p>
                <p>Common: {{ rarity_counts['common'] }}</p>
                <p>Uncommon: {{ rarity_counts['uncommon'] }}</p>
                <p>Rare: {{ rarity_counts['rare'] }}</p>
                <p>Mythic: {{ rarity_counts['mythic'] }}</p>
                <br>
                <h3>Price</h3>
                <p>Cumulative USD Price: ${{ "{:.2f}".format(cumulative_price_usd or 0.00) }}</p>
                <p>Cumulative EUR Price: €{{ "{:.2f}".format(cumulative_price_eur or 0.00) }}</p>
            </div>
            <div class="card_gallery">
                {% for card_data in card_data_list %}
                <div class="card">
                    <img src="{{ url_for('static', filename=card_data.image_path) }}" alt="{{ card_data.name }}">
                    <div class="card-text">
                        <p>Name: {{ card_data.name }}</p>
                        <p>Rarity: {{ card_data.rarity }}</p>
                        <a href="{{ url_for('remove_card', card_id=card_data.id) }}" class="remove-card" title="Remove Card">
                            <i class="fa-solid fa-trash-can" style="color: white; float: right;"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </div>    
</body>
</html>
