<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stats-style.css') }}">
    <title>MTG Management App</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
    <script src="https://kit.fontawesome.com/e8b358f9a3.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='glow_card.js') }}"></script>
</head>
<body>
    <div class="container">

    </div>
</body>
</html>
